/* styling the body */
body{
    background-color: rosybrown;
    margin: 30px,30px,30px,30px;
    border: solid, 10px, rgba(rgb(255, 252, 252), rgb(198, 255, 198), rgb(0, 0, 231), 0);
    padding: auto;


}
/* adjust picture dimensions to fit the sreen */
.bground{
    background-image: url(images/image3.jpeg);
    padding: auto;
    height: 700px;
    width: 1820px;
    object-fit: cover;
}
h1{
    font-family: 'Ultra', serif;    
    font-size: 100px;
    text-align: center;
    color: seashell;
}
.desc{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Mate SC', serif;
    color: snow;

}
/* styling the pictures of the members */
.container{
    position: relative;
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;             
    justify-content: space-between; 
    background-color: tan;
    align-items: left;
    margin-top: 60px;
}
.men1, .men2, .men3, .men4{
    padding: auto;
    margin: auto;
}
.shawn, .mc, .nathan, .wanya{
width: 430px;
}
/* psuedo class create interlactions */

.p {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-top: -50px;
    color: rgb(255, 252, 252);
  }
  
  .favorite:hover p {
    display: block;
  }
/* end of psuedo factionality */

/* start of favorite songs */
.favorite{
    display: flex;
    position: relative;
    flex-direction: row;            
    flex-wrap: nowrap;             
    justify-content: space-between; 
}
.vid, .vid1, .vid2, .vid3{
    height: 300px;
    width: 450px;
    
}
/* ======================================= */
/* start of footer */
.footer{
    display: flex;
    padding: auto;
    height: 200px;
    background-color: peachpuff;
    margin-top: 40px;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  